doctype html
html(lang='en')
head
  title=fikalistan
  meta(charset='utf-8' name='viewport' content='width=device-width, initial-scale=1')
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
  link(rel="stylesheet" href="/stylesheets/style.css")
  script.
    var groupurl = "#{groupurl}";
body
  nav.navbar.navbar-default.navbar-static-top
    .container-fluid
      
      .navbar-header
        button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        
        a(class="navbar-brand" href="#") Manage users
      div#navbar.navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href="/#{groupurl}") Main view
          li
            a(href="/#{groupurl}/manageweeks") Manage weeks

  button(type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addUserModal") Add user
  button(type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#removeUserModal") Remove user
  button(type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#editUserModal") Edit user
  button(type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#switchWeeksModal") Change weeks between users

  div(class="modal fade" id="addUserModal" role="dialog")
    div(class="modal-dialog")
      .modal-content
        .modal-header
          button(type="button" class="close" data-dismiss="modal") 
          h4.modal-title Add user
        .modal-body
          form(role="form")
            .form-group
              label(for="addName") Name (should be unique for the group):
              input(type="text" class="form-control" id="addName")
              label(for="addEmail") Email (optional, for reminders):
              input(type="email" class="form-control" id="addEmail")
        .modal-footer
          button(type="button" class="btn btn-default" data-dismiss="modal") Cancel 
          button(type="button" class="btn btn-default" id="addUserButton") Add

  div(class="modal fade" id="removeUserModal" role="dialog")
    div(class="modal-dialog")
      .modal-content
        .modal-header
          button(type="button" class="close" data-dismiss="modal") 
          h4.modal-title Remove user
        .modal-body
          .form-group
            label(for="selectUserToDelete") Select user:
            select(class="form-control" id="selectUserToDelete")
              each user in allUsers
                option(class="deleteUser" value="#{user.userid}") #{user.name}
        .modal-footer
          button(type="button" class="btn btn-default" data-dismiss="modal") Cancel 
          button(type="button" class="btn btn-default" id="deleteUserButton") Remove

  div(class="modal fade" id="editUserModal" role="dialog")
    div(class="modal-dialog")
      .modal-content
        .modal-header
          button(type="button" class="close" data-dismiss="modal") 
          h4.modal-title Edit user
        .modal-body
          .form-group
            label(for="selectUserToEdit") Select user:
            select(class="form-control" id="selectUserToEdit")
              option(class="editUser" value="")
              each user in allUsers
                option(class="editUser" value="#{user.userid}" data-name="#{user.name}" data-email="#{user.email}") #{user.name}
            
            label(for="editName") Name (should be unique for the group):
            input(type="text" class="form-control" id="editName")
            label(for="editEmail") Email (optional, for reminders):
            input(type="email" class="form-control" id="editEmail")
        .modal-footer
          button(type="button" class="btn btn-default" data-dismiss="modal") Cancel 
          button(type="button" class="btn btn-default" id="editUserButton") Save

  div(class="modal fade" id="switchWeeksModal" role="dialog")
    div(class="modal-dialog")
      .modal-content
        .modal-header
          button(type="button" class="close" data-dismiss="modal") 
          h4.modal-title Switch weeks
        .modal-body
          .form-group
            label(for="selectUser1") Select user:
            select(class="form-control" id="selectUser1")
              option(class="editUser" value="")
              each user in allUsers
                option(class="editUser" value="#{user.userid}") #{user.name}
            label(for="selectUser2") Select the other user:
            select(class="form-control" id="selectUser2")
              option(class="editUser" value="")
              each user in allUsers
                option(class="editUser" value="#{user.userid}") #{user.name}
        .modal-footer
          button(type="button" class="btn btn-default" data-dismiss="modal") Cancel 
          button(type="button" class="btn btn-default" id="switchWeeksButton") Do it
                    
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
  script(src="/javascripts/manageusers.js")